.edgesoft-heading2 {
	-fx-font-weight: bold;
}

.edgesoft-table-header-cell {
	-fx-font-style: italic;
}

.edgesoft-required {
	-fx-font-weight: bold;
}

.edgesoft-remark {
	-fx-text-fill: #a9a9a9;
}

.edgesoft-padding-5050 {
	-fx-padding: 5 0 5 0;
}

.edgesoft-padding-5 {
	-fx-padding: 5
}

.edgesoft-padding-X000 {
	-fx-padding: 10 0 0 0;
}

.edgesoft-vgap-5 {
	-fx-vgap: 5;
}

.edgesoft-spacing-5 {
	-fx-spacing: 5;
}

.edgesoft-gridpane {
	-fx-vgap: 5;
}

.edgesoft-statusbar {
	-fx-spacing: 10;
}

.edgesoft-separator {
	-fx-padding: 5 0 5 0;
}

.edgesoft-vbox-remark {
	-fx-padding: 0 0 10 0;
}

.edgesoft-noborder {
	-fx-border-width: 0px;
}
